@base-grey: #eeeeed;
@base-white: #fbfbf7;
@base-blue: #13335a;
@base-red: #d15741;
@text-gray: #666970;
@base-black: #1d1d1d;

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,800&display=swap&subset=cyrillic');

/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body{
	background-color:#eeeeed;
	min-width: 320px;
	font-family: 'Montserrat', sans-serif;
	min-height: 100vh;
	scroll-behavior: smooth;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
	font-size: 16px;
}
a:active,a:hover{ text-decoration: none; color: white;}

button { outline: none;  
 padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
}
p {
	color: @base-black;
	margin: 0;
}
ul{
	margin: 0;
	padding: 0;
}
li {
  list-style-type: none; 
}

img {
  max-width: 100%;
  display: block;
}

//-------------------------------
//--------КНОПКИ------------------
//-------------------------------
.base-button{
	height: 56px;
	width: 228px;
	background-color: @base-red;
	border: 2px solid @base-red;
	color: white;
	font-weight: 300;
	transition: 0.5s;
	&:hover {
		border: 2px solid @base-red;
		color: @base-red;
		background-color: rgba(255, 255, 255, 0);
		font-weight: 500;
	}
}
//-------------------------------
//--------ШАПКА------------------
//-------------------------------
.main{
	border-bottom:  1px solid @base-blue;
	&-head{
		margin-top: 3%;
		margin-bottom: 43px;
		display: flex;
		align-items: center;
  		justify-content: center;
		&-logo{
			text-align: center;
			h1{
				margin: 0;
				font-family: asessor;
				color: @base-blue;
				letter-spacing: 1.1px;
				font-size: 3.5em;
			}			

			p{			
				font-weight: 300;
				color: @base-black;
				font-size: 0.79em;
			}
		}
		&-links{
			.email{ text-align: right;}
			.phone{ text-align: right; }
			display: none;

			a{
				color: @text-gray;
				font-weight: 400;
			}
		}
		&-call{
			button{
				height: 50px;
				width: 100%;
			}
			display: none;
		}

		@media (min-width: 768px) { 
			.main-head-logo { text-align: left; }
			.main-head-links {
				display: block;
			}
			.main-head-call {
				display: block;
			}
		}	
	}	
}
//-------------------------------
//-------ВЕРХНЕЕ МЕНЮ------------
//-------------------------------
.nav-head{
	margin: 10px 0;
	@media (min-width: 768px) { 
		margin: 30px 0;
	}

	.navig{
		flex-wrap: wrap;
		justify-content: space-between;
		display: none;
		a{
			color: @base-blue;
			font-weight: 700;
			white-space: nowrap;
			span{color: @base-red;}
		}
		a:hover{
			color: @base-red;
		}
	 }
	.navig a:not(:first-child){
		margin-left: 10px;
	}

	.navbar {
		color: @base-blue;
		padding-left: 0;
	}

	.navbar-light .navbar-nav .nav-link {
	    font-family: 'Montserrat', sans-serif;
		color: @base-blue;
		font-weight: 700;
		&:hover{
			color: @base-red;
		}
	}

	.navbar-light .navbar-nav .active .nav-link {
		color: @base-red;
	}

	.navbar-toggler{
	    border-color: @base-red;
	}


	.custom-toggler .navbar-toggler-icon {
	  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(209,87,65, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
	}

	.nav-links {
		margin: 10px 0 5px;
		a{
			color: @text-gray;
			font-weight: 400;
		}
	}

	.nav-call {
		margin: 5px 0 10px;
	}

	@media (min-width: 768px) { 
		.navig{
			display: flex;
		}

		.navig-mobile {
			display: none;
		}
		
 	}
}
//-------------------------------
//-------СЛАЙДЕР-----------------
//-------------------------------
.slick-slide {
    outline: none;
}
.slick-dotted.slick-slider {
    margin-bottom: 0;
}
.main-slider{
	overflow: hidden;
	.single-item{
		height: 518px;
		margin-bottom: 19px;
		background-image: url("../img/main-slide.png");
		background-position: center center;
		.slide-title{
			font-family: 'PT Serif Caption';
			font-size: 48px;
			color: white;
			margin-top: 134px;
		}
		.slide-button{
			margin-top: 30px;
			text-align: center;
			color: @base-red;
			border: 1px solid @base-red;
			background-color: rgba(255, 255, 255, 0);
			&:hover{
				background-color: @base-red;
				color: white;
			}
		}
	}
}
//-------------------------------
//-------КНОПКИ ДЛЯ СЛАЙДЕРА-----
//-------------------------------
.custom-dots {
	display: block;
	width: 100%;
	padding: 0;
	list-style: none;
	text-align: center;
}
.custom-dots li {
  display: inline-block;
  width: 10px;
  margin: 0 5px;
  cursor: pointer;
}
.custom-dots  li button {
  width: 10px;
  height: 10px;
  cursor: pointer;
  color: transparent;
 background: url(../img/icon/dot.png) no-repeat center center;
  outline: none;
}
 .custom-dots li button:hover,
 .custom-dots li button:focus {
   outline: none;
 }
 .custom-dots li.slick-active button{
 	background: url(../img/icon/dot-active.png) no-repeat center center;
 }

//-------------------------------
//-------ЗАГОЛОВКИ---------------
//-------------------------------
.titles{
	overflow: hidden;
	margin-top: 70px;
	margin-bottom: 50px;
	text-align: center;
	font-family: 'PT Serif Caption', serif;
	color: @base-blue;
}

@media (min-width: 768px) {
	.lines:before,
	.lines:after {
	  content: "";
	  display: inline-block;
	  height: 2px;
	  width: 64px;
	  border-top: 2px solid #d15741;
	  margin: 0 15px 7px 15px;
	}
}

.subtitle{
	font-size: 20px;
	margin-bottom: 37px;
}
//-------------------------------
//-------О КОМПАНИИ--------------
//-------------------------------
.about{
	overflow-x: hidden;
	&-img {
		margin: 0 auto 40px;
	}
	&-area{
		position: relative;
		background-color: white;
		box-shadow: 0px 0px 4.5px 0.5px rgba(0, 0, 0, 0.2);
  		margin-bottom: 20px;
  		padding: 35px 25px;
  		p{
			margin-bottom: 8px;
			font-size: 0.9em;
		}
		button{
			margin-top: 13px;
		}	
	}
	@media (min-width: 992px) {
			&-area{
				padding: 41px 0 41px 41px; 
				right:5px;
			}
			&-area:after{
				position: absolute;
			    display: block;
			    height: 100%;
			    top: 0;
			    left: 0;
			    right: 0;
			    transform: translateX(99%);
			    background: #fff;
			    content:  '';
			    box-shadow: 8px 0px 4.8px 0.1px rgba(0,0,0,0.2);
			}
		}
	}

//-------------------------------
//-------НАША КОМПАНИЯ-----------
//-------------------------------
.ourCompany{
	overflow-x: hidden;

	&-img {
		margin: 0 auto;
	}
	&-area{
		position: relative;
		background-color: white;
		box-shadow: 0px 0px 4.5px 0.5px rgba(0, 0, 0, 0.2);
  		padding: 35px 25px;
  		margin-bottom: 40px;
  			.ident{
  				display: flex;
  				justify-content: center;
  				margin-bottom: 2px;
  				p{
					font-size: 0.9em;
				}
  				span{
  					margin-left: 8px;
		  			float: left;
			  		align-self: center;
		    		margin-right: 26px;
					font-size: 48px;
					color: @base-red;
  				}
  			}
	
		@media (min-width: 992px) { 
			padding:41px 60px 15px 0;
			margin-bottom: 0;
			&:after{
			 	position: absolute;
			    display: block;
			    height: 100%;
			    top: 0;
			    left: 0;
			    right: 0;
			    transform: translateX(-99%);
			    background: #fff;
			    content:  '';
			    box-shadow: -5px 0px 4.8px 0.1px rgba(0,0,0,0.2);
			}
		}
	}
}
//-------------------------------
//-------ПРЕИМУЩЕСТВА------------
//-------------------------------
	.advantages{
		width: 100%;
		display: flex;
	  	display: -webkit-flex;
	 	justify-content: space-around;
	  	-webkit-justify-content: space-around;
		text-align: center;
		 flex-wrap: wrap;
		 box-sizing: border-box;

		.advantage-item{
			display: flex;
			display: -webkit-flex;
			-webkit-justify-content: center;
			justify-content: center;
			-webkit-flex-direction: column;
			flex-direction: column;
			.box-image{
				height: 85px;
				width: 160px;
			}
			.caption{
				margin-top: 28px;
				height: 48px;
				 p{
					margin-bottom: 0;
				}
			}	  
		}
	}
//-------------------------------
//-------УСЛОВИЯ-----------------
//-------------------------------
	.requirements{
		width: 100%;
		display: flex;
	  	display: -webkit-flex;
	 	justify-content: space-around;
	  	-webkit-justify-content: space-around;
		text-align: center;
		flex-wrap: wrap;
		 box-sizing: border-box;

		.requirement-item{
			display: flex;
			display: -webkit-flex;
			-webkit-justify-content: center;
			justify-content: center;
			-webkit-flex-direction: column;
			flex-direction: column;

			.box-image{
				height: 100px;
				width: 220px;
				.circle-img{
					height: 100px;
					width: 100px;
					margin: 0 auto;
					border: 2px solid @base-red;
					border-radius: 50%;
				}
			}
			.caption{
				margin-top: 20px;
				height: 100px;
				 p{
					margin-bottom: 0;
				}
			}	  
		}

		@media (min-width: 768px) {
  			.requirement-item:nth-child(-n+3) .box-image:before {
				font-family: Font Awesome\ 5 Free;
				font-weight:900;
				font-size: 2em;
				content: "\f077";
				color: @base-red;
				position: absolute;
				top: 25px;
				margin-left: 11%;
				transform: rotate(90deg);
			}
		}
		
	}

	#quality{background: url(../img/icon/quality.png) no-repeat center center;}
	#delivery{background: url(../img/icon/delivery.png) no-repeat center center;}
	#assurance{background: url(../img/icon/assurance.png) no-repeat center center;}
	#hands{background: url(../img/icon/hands.png) no-repeat center center;}
	#price{background: url(../img/icon/price.png) no-repeat center center;}
	#l8{background: url(../img/icon/18.png) no-repeat center center;}
	#sofa{background: url(../img/icon/sofa.png) no-repeat center center;}
	#credit{background: url(../img/icon/credit-card.png) no-repeat center center;}
	#card{background: url(../img/icon/card.png) no-repeat center center;}
//-------------------------------
//-------ЭКОНОМИЯ----------------
//-------------------------------
.econom{
	&-img{
		background: @base-grey url(../img/экономия.png) no-repeat center center;
		background-size: cover;
		width: 100%;
		margin-left: 0;
		margin-right: 0;
		&-text-area{ 
			background: rgba(255,255,255,0.9);
 			box-shadow: 0px 0px 4.5px 0.5px rgba(0, 0, 0, 0.2);
  			padding: 30px 35px 110px;
  			margin: 45px 20px;
  			position: relative;
  			.ident{
  				display:-moz-flex;
				display:-ms-flex;
				display:-webkit-flex;
  				display: flex;
  				margin-bottom: 10px;
  				.red{
  					color: @base-red;
  					font-weight: 700;
  				}
  				.fas{
  					font-size: 2.5em;
  					margin-right: 10px;
  					color: @base-red;
  					margin-top: auto;
					margin-bottom: auto;
  				}
	  		}
  			.catalog{
  				text-align: center;
  				margin-top: 15px;
  				position: absolute;
  				left: 50%;
  				margin-left: -114px;
  			}
		}
	}
}
//-------------------------------
//-------ПОРТФОЛИО---------------
//-------------------------------
.portfolio{

	.slider-portfolio{
		margin: 0 auto;
		overflow: hidden;
	}

	.slick-slide {
		position: relative;
		margin: 20px;

		img {
			width: 100%;
		}
		.text-slide{
			display: none;
		}

		.text-slide{
			display: block;
			position: absolute;
			background-color: @base-blue;
  			padding: 15px;
  			width: 96%;
  			bottom: 2%;
  			left: 2%;
  			right: 2%;

			p{
				color: white;
				font-weight:500;
				font-size: 18px;
				span{
					font-weight: 300;
					font-size: 16px;
				}
			}	
		}
	}

  	@media (min-width: 992px) {
		.slick-center{
			img{
				box-shadow: 0px 0px 4.5px 0.5px rgba(0, 0, 0, 0.2);
				transform: scale(1.1);
			}

			.text-slide{
				display: none;
			}
		}
	}

	.slider-arrow{
		position: absolute;
		top: 45%;
		z-index: 2;
		height: 40px;
		width: 40px;
		border: 2px solid @base-red;
		border-radius: 50%;
		background-color: rgba(255,255,255,0.8);
	}

	.arrow-left:after{
		font-family: Font Awesome\ 5 Free;
		font-weight:900;
		font-size: 1.6em;
		content: "\f053";
		color: @base-red;
		font-style: normal;
		position: absolute;
		left: 10px;
	}
	.arrow-right:after{
		font-family: Font Awesome\ 5 Free;
		font-weight:900;
		font-size: 1.6em;
		content: "\f054";
		color: @base-red;
		font-style: normal;
		position: absolute;
		right: 10px;
	}

	.arrow-right{ 
		right: 0px; 
	}
	.arrow-left{ 
		left: 0px; 
	}


}	
//-------------------------------
//-------ПОДВАЛ------------------
//-------------------------------	
footer{
	margin-top: 60px;
	background-color: @base-blue;
	padding-top: 3%;
	padding-bottom: 3%;
	a{
		color: white;
	}
	.footer-navig{
	    -webkit-column-count: 2;
	    -moz-column-count: 2;
	    column-count: 2;
	     margin-left: 0; 
  		padding-left: 0;  
		font-weight: 500;
	}
	.footer-links{
		.email{ text-align: right; margin-bottom: 3px;}
		.phone{ text-align: right;}
		margin: 10px 0;
		@media (min-width: 992px) {
			margin: 0;
		}
	}

	button{
		float: right;
		margin: 0 0 20px;
		@media (min-width: 992px) {
			margin: 0;
		}
	}

	.copyright{
		text-align: right;
		color: white;
	}
}
//-------------------------------
//-------ОКНО ОБРАТНОЙ СВЯЗИ-----
//-------------------------------
.callShadow{
	margin: 0; 
	padding: 0; 
	position: fixed; 
	top:0; 
	bottom:0;
	left:0;
	right:0;
	background: linear-gradient(to top, rgba(0,0,0,0.1), rgba(0,0,9,0.5)); 
	opacity:1;
	display:none;
	z-index: 2;
}
.callWindow{
	position: fixed;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	width: 363px;
	height: 365px;
	background-color: #f6f4f4;
	box-shadow: 0px 0px 4.5px 0.5px rgba(0, 0, 0, 0.2);
	display:none;
	padding: 41px 0;
	z-index: 2;
}
.callWindow .call-title{
	margin: 0;
	margin-top: -5px;
  font-size: 30px;
  font-weight: 700;
  color: rgb(19, 51, 90);
  text-align: center;
}
.callWindow .line{
  width: 166px;
  border-top: 1px solid #d15943;
  margin-left: 95px;
  margin-top: 8px;
  margin-bottom: 40px;
}
.callWindow input{
  border: 1px solid black;
  width: 331px;
  height: 48px;
  margin-bottom: 31px;
  margin-left: 14px;
  padding-left: 21px;
  font-size: 19px;
  color: black;
}
.callWindow .send{
	margin: 0;
  text-align: center;
  border: none;
  background-color: rgb(209, 87, 65);
  width: 262px;
  height: 48px;
  color: white;
  font-size: 19px;
	transform: translate(20%, 0);
}
//-------------------------------
//-------АДАПТИВ----------------
//-------------------------------
