@base-grey: #eeeeed;
@base-white: #fbfbf7;
@base-blue: #13335a;
@base-red: #d15741;
@text-gray: #666970;
@base-black: #1d1d1d;

@font-face {
	font-family: HelveticaNeue-Bold;
	src: url("../fonts/HelveticaNeue-Bold.otf"),
	     url("../fonts/HelveticaNeue-Bold.woff") format("woff");
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: HelveticaNeue-Light;
	src: url("../fonts/HelveticaNeue-Light.otf"),
	     url("../fonts/HelveticaNeue-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: HelveticaNeue;
	src: url("../fonts/HelveticaNeue.otf"),
	     url("../fonts/HelveticaNeue.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: HelveticaNeue-Medium;
	src: url("../fonts/HelveticaNeue-Medium.otf"),
	     url("../fonts/HelveticaNeue-Medium.woff") format("woff");
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: asessor;
	src: url("../fonts/asessor_[allfont.ru].ttf");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: PT Serif Caption;
	src: url("8320.ttf");
	font-weight: normal;
	font-style: normal;
}
*{
	margin: 0;
	padding:0;
}
body{
	background-color:#eeeeed;
	min-width: 350px;
}
a:active,a:hover{ text-decoration: none; color: white;}
button { outline: none;  
 padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
}
p {
	color: @base-black;
	font-family: HelveticaNeue;
	margin: 0;
}
ul{
	margin: 0;
	padding: 0;
}
li {
  list-style-type: none; 
}
//-------------------------------
//--------КНОПКИ------------------
//-------------------------------
.base-button{
	height: 56px;
	width: 228px;
	background-color: @base-red;
	border: none;
	color: white;
	font-size: 16px;
	font-family: HelveticaNeue-Light;
}
//-------------------------------
//--------ШАПКА------------------
//-------------------------------
.main{
	border-bottom:  1px solid @base-blue;
	&-head{
		margin-top: 3%;
		margin-bottom: 43px;
		&-logo{
			h1{
				margin: 0;
				font-family: asessor;
				font-size: 3.7em;
				color: @base-blue;
				letter-spacing: 1.1px;
			}			
			p{			
				margin-top: -8px;
				font-family: HelveticaNeue-Light;
				font-size: 0.95em; 
				color: @text-gray;
			}
		}
		&-links{
			margin-top: 2px;
			.email{ text-align: right;}
			.phone{ text-align: right; margin-top: 1px;}
			a{
				font-size: 1.8em;
				color: @text-gray;
				font-family: HelveticaNeue-Medium;
				text-align: right;
			}
		}
		&-call{
			button{
				margin-top: 13px;
				float: right;
				height: 50px;
			}
		}	
	}	
}
//-------------------------------
//-------ВЕРХНЕЕ МЕНЮ------------
//-------------------------------
.nav-head{
	margin-top: 30px;
	margin-bottom: 31px;
	.navig{
		display: flex;
		justify-content: space-between;
		a{
			font-size: 0.9em;
			color: @base-blue;
			font-family: HelveticaNeue-Bold;
			font-weight: 900;
			span{color: @base-red;}
		}
		a:hover{
			color: @base-red;
		 }
	 }
}
//-------------------------------
//-------СЛАЙДЕР-----------------
//-------------------------------
.slick-slide {
    outline: none;
}
.slick-dotted.slick-slider {
    margin-bottom: 0;
}
.main-slider{
	overflow: hidden;
	.single-item{
		height: 518px;
		margin-bottom: 19px;
		background-image: url("../img/main-slide.png");
		background-position: center center;
		.slide-title{
			font-family: 'PT Serif Caption';
			font-size: 48px;
			color: white;
			margin-top: 134px;
		}
		.slide-button{
			margin-top: 30px;
			text-align: center;
			color: @base-red;
			border: 1px solid @base-red;
			background-color: rgba(255, 255, 255, 0);
		}
	}
}
//-------------------------------
//-------КНОПКИ ДЛЯ СЛАЙДЕРА-----
//-------------------------------
.custom-dots {
	display: block;
	width: 100%;
	padding: 0;
	list-style: none;
	text-align: center;
}
.custom-dots li {
  display: inline-block;
  width: 10px;
  margin: 0 5px;
  cursor: pointer;
}
.custom-dots  li button {
  width: 10px;
  height: 10px;
  cursor: pointer;
  color: transparent;
 background: url(../img/icon/dot.png) no-repeat center center;
  outline: none;
}
 .custom-dots li button:hover,
 .custom-dots li button:focus {
   outline: none;
 }
 .custom-dots li.slick-active button{
 	    background: url(../img/icon/dot-active.png) no-repeat center center;
 }

//-------------------------------
//-------ЗАГОЛОВКИ---------------
//-------------------------------
.titles{
	overflow: hidden;
	margin-top: 70px;
	margin-bottom: 50px;
	text-align: center;
	font-family: 'PT Serif Caption', serif;
	font-size: 24px;
	color: @base-blue;
	.titles:before,
	.titles:after {
		   content: "";
		   display: inline-block;
		   vertical-align: middle;
		   width: 100%;
		   height: 4px;
		   background-color: @base-red;
		   position: relative;
	}
	.titles:before {
	    margin-left: -100%;
	    left: -14px;
	}
	.titles:after {
	    margin-right: -100%;
	    right: -14px;
	}
}
.lines:before,
.lines:after {
  content: "";
  display: inline-block;
  height: 2px;
  width: 64px;
  border-top: 2px solid #d15741;
  margin: 0 15px 7px 15px;
}
.subtitle{
	font-size: 24px;
	font-family: HelveticaNeue;
	margin-bottom: 37px;
}
//-------------------------------
//-------О КОМПАНИИ--------------
//-------------------------------
.about{
	overflow-x: hidden;
	&-area{
		position: relative;
		right:5px;
		background-color: white;
		box-shadow: 0px 0px 4.5px 0.5px rgba(0, 0, 0, 0.2);
  		padding-top: 41px;
  		padding-left: 41px;
  		padding-bottom: 41px;
  		margin-bottom: 20px;
  		p{
			font-size: 16px;
			margin-bottom: 8px;
		}
		button{
			margin-top: 13px;
		}	
	}
	&-area:after{
	 position: absolute;
	    display: block;
	    height: 100%;
	    top: 0;
	    left: 0;
	    right: 0;
	    transform: translateX(99%);
	    background: #fff;
	    content:  '';
	    box-shadow: 8px 0px 4.8px 0.1px rgba(0,0,0,0.2);
	}
}
//-------------------------------
//-------НАША КОМПАНИЯ-----------
//-------------------------------
.ourCompany{
	overflow-x: hidden;
	&-area{
		position: relative;
		background-color: white;
		box-shadow: 0px 0px 4.5px 0.5px rgba(0, 0, 0, 0.2);
  		padding-top: 41px;
  		padding-bottom: 15px;
  		padding-right: 60px;
  			.ident{
  				display: flex;
  				justify-content: center;
  				margin-bottom: 2px;
  				p{
					font-size: 16px;
				}
  				span{
  					margin-left: 8px;
		  			float: left;
			  		align-self: center;
		    		margin-right: 26px;
					font-size: 48px;
					color: @base-red;
  				}
  			}
		}
	&-area:after{
	 position: absolute;
	    display: block;
	    height: 100%;
	    top: 0;
	    left: 0;
	    right: 0;
	    transform: translateX(-99%);
	    background: #fff;
	    content:  '';
	    box-shadow: -5px 0px 4.8px 0.1px rgba(0,0,0,0.2);
	}
}
//-------------------------------
//-------ПРЕИМУЩЕСТВА------------
//-------------------------------
	.advantages{
		width: 100%;
		display: flex;
	  	display: -webkit-flex;
	 	justify-content: space-around;
	  	-webkit-justify-content: space-around;
		text-align: center;
		.advantage-item{
			display: flex;
			display: -webkit-flex;
			-webkit-justify-content: center;
			justify-content: center;
			-webkit-flex-direction: column;
			flex-direction: column;
			.box-image{
				height: 85px;
				width: 160px;
			}
			.caption{
				margin-top: 28px;
				height: 48px;
				 p{
					font-size: 18px;
					margin-bottom: 0;
				}
			}	  
		}
	}
//-------------------------------
//-------УСЛОВИЯ-----------------
//-------------------------------
	.requirements{
		width: 100%;
		display: flex;
	  	display: -webkit-flex;
	 	justify-content: space-around;
	  	-webkit-justify-content: space-around;
		text-align: center;
		.requirement-item{
			display: flex;
			display: -webkit-flex;
			-webkit-justify-content: center;
			justify-content: center;
			-webkit-flex-direction: column;
			flex-direction: column;
			.box-image{
				height: 100px;
				width: 220px;
				.circle-img{
					height: 100px;
					width: 100px;
					margin: 0 auto;
					border: 2px solid @base-red;
					border-radius: 50%;
				}
			}
			.caption{
				margin-top: 20px;
				height: 100px;
				 p{
					font-size: 24px;
					margin-bottom: 0;
				}
			}	  
		}
		.next-img{
			padding-top: 35px;
		}
	}
	#quality{background: url(../img/icon/quality.png) no-repeat center center;}
	#delivery{background: url(../img/icon/delivery.png) no-repeat center center;}
	#assurance{background: url(../img/icon/assurance.png) no-repeat center center;}
	#hands{background: url(../img/icon/hands.png) no-repeat center center;}
	#price{background: url(../img/icon/price.png) no-repeat center center;}
	#l8{background: url(../img/icon/18.png) no-repeat center center;}
	#sofa{background: url(../img/icon/sofa.png) no-repeat center center;}
	#credit{background: url(../img/icon/credit-card.png) no-repeat center center;}
	#card{background: url(../img/icon/card.png) no-repeat center center;}
//-------------------------------
//-------ЭКОНОМИЯ----------------
//-------------------------------
.econom{
	&-img{
		background: @base-grey url(../img/экономия.png) no-repeat center center;
		background-size: cover;
		min-height: 500px;
		position: relative;
		&-text-area{ 
			overflow: hidden;
    		position: absolute;
    		top: 50%;                         
   			left: 50%;
    		margin-right: -50%;
    		transform: translate(-50%, -50%);
			background: rgba(255,255,255,0.9);
 			box-shadow: 0px 0px 4.5px 0.5px rgba(0, 0, 0, 0.2);
  			padding: 40px 30px;
  			.ident{
  				display:-moz-flex;
				display:-ms-flex;
				display:-webkit-flex;
  				display: flex;
  				margin-bottom: 10px;
  				.red{
  					color: @base-red;
  					font-family: HelveticaNeue-Bold;
  				}
	  			img{
	  				min-width: 30px;
	  				min-height: 22px;
	  				float: left;
	  				align-self: center;
	  			}
	  			p{
	  				margin-left: 15px;
	  				font-size: 16px;
	  			}
	  		}
  			.catalog{
  				margin-top: 15px;
  				text-align: center;
    			transform: translate(76%, 0);
  			}
		}
	}
}
//-------------------------------
//-------ПОРТФОЛИО---------------
//-------------------------------
.portfolio{
	.slider-portfolio{
		margin: 0 auto;
		overflow: hidden;
	}
	.slick-slide {
		position: relative;
		margin: 0 20px;
		margin-top: 20px;
		width: 392px;
		height: 392px;
		.text-slide{
			position: absolute;
			top: 283px;
			left: 4px;
			background-color: @base-blue;
			width: 354px;
  			height: 76px;
  			padding-top: 15px;
			p{
				color: white;
				font-family: HelveticaNeue-Medium;
				font-size: 18px;
				span{
					font-family: HelveticaNeue-Light;
					font-size: 16px;
				}
			}	
		}
		img{
			width: 362px;
			height: 362px;
			display: inline-block;
		}
	}
	.slick-list {
	    margin-left: -20px;
	    margin-right: -20px;
  	}
	.slick-center{
		img{
			box-shadow: 0px 0px 4.5px 0.5px rgba(0, 0, 0, 0.2);
			min-width: 392px;
			min-height: 392px;
			margin-left: -14px;
			margin-top: -15px;
		}
		.text-slide{
			opacity: 0;
		}
	}
	.slider-arrow{
		position: absolute;
		top: 45%;
		transform: translateY(-9);
		z-index: 2;
		height: 40px;
		width: 40px;
		border: 2px solid @base-red;
		border-radius: 50%;
		
	}
	.arrow-left{ 
		left: 1px; 
		background: url(../img/icon/next.png) rgba(255,255,255,0.8) no-repeat center center;
		background-size: 13px 22px;
		transform: scale(-1, 1);
	 }
	.arrow-right{ 
		right: 1px; 
		background: url(../img/icon/next.png) rgba(255,255,255,0.8) no-repeat center center;
		background-size: 13px 22px;
	}
}	
//-------------------------------
//-------ПОДВАЛ------------------
//-------------------------------	
footer{
	margin-top: 60px;
	background-color: @base-blue;
	padding-top: 3%;
	padding-bottom: 3%;
	a{
		color: white;
	}
	.footer-navig{
	    -webkit-column-count: 2;
	    -moz-column-count: 2;
	    column-count: 2;
	     margin-left: 0; 
  		padding-left: 0;  
  		font-size: 18px;
		font-family: HelveticaNeue-Medium;
	}
	.footer-links{
		font-size: 24px;
		margin-top: -9px;
			.email{ text-align: right; margin-bottom: 3px;}
			.phone{ text-align: right;}
	}
	button{
		float: right;
	}
	.copyright{
		text-align: right;
		color: white;
		font-size: 18px;
	}
}
//-------------------------------
//-------ОКНО ОБРАТНОЙ СВЯЗИ-----
//-------------------------------
.callShadow{
	margin: 0; 
	padding: 0; 
	position: fixed; 
	top:0; 
	bottom:0;
	left:0;
	right:0;
	background: linear-gradient(to top, rgba(0,0,0,0.1), rgba(0,0,9,0.5)); 
	opacity:1;
	display:none;
	z-index: 2;
}
.callWindow{
	position: fixed;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	width: 363px;
	height: 365px;
	background-color: #f6f4f4;
	box-shadow: 0px 0px 4.5px 0.5px rgba(0, 0, 0, 0.2);
	display:none;
	padding: 41px 0;
	z-index: 2;
}
.callWindow .call-title{
	margin: 0;
	margin-top: -5px;
  font-size: 30px;
  font-family: HelveticaNeue-Bold;
  color: rgb(19, 51, 90);
  text-align: center;
}
.callWindow .line{
  width: 166px;
  border-top: 1px solid #d15943;
  margin-left: 95px;
  margin-top: 8px;
  margin-bottom: 40px;
}
.callWindow input{
  border: 1px solid black;
  width: 331px;
  height: 48px;
  margin-bottom: 31px;
  margin-left: 14px;
  padding-left: 21px;
  font-size: 19px;
  color: black;
}
.callWindow .send{
	margin: 0;
  text-align: center;
  border: none;
  background-color: rgb(209, 87, 65);
  width: 262px;
  height: 48px;
  color: white;
  font-size: 19px;
	transform: translate(20%, 0);
}
//-------------------------------
//-------АДАПТИВ----------------
//-------------------------------
@media (max-width: 1200px) and (min-width: 992px) {
	.main{
		&-head{
			&-logo{
				h1{
					font-size: 3.5em;
					letter-spacing: 1.1px;
				}			
				p{			
					margin-top: -8px;
					font-size: 0.9em; 
				}
			}	
		}	
	}
	.about{
		overflow-x: hidden;
		img{
			margin-left: 50%;
			transform: translate(-50%);
			margin-bottom: 20px;
		}
		&-area{
			position: relative;
			right:5px;
	  		padding: 41px;
	  		margin-bottom: 20px;
	  		p{
				font-size: 16px;
				margin-bottom: 8px;
				text-align: center;
			}
			button{
				margin-top: 13px;
				margin-left: 50%;
				transform: translate(-50%);
			}	
		}
		&-area:after{
			display: none;
		}
	}
	.ourCompany{
		overflow-x: hidden;
		&-area{
			position: relative;
	  		padding: 41px;
	  		margin-bottom: 20px;
	  			.ident{
	  				display: flex;
	  				justify-content: center;
	  				margin-bottom: 2px;
	  				p{
						font-size: 16px;
						text-align: center;
					}
	  				span{
	  					margin-left: 8px;
			  			float: left;
				  		align-self: center;
			    		margin-right: 26px;
						font-size: 48px;
	  				}
	  			}
			}
		&-area:after{
		 	display: none;
		}
		img{
			margin-left: 50%;
			transform: translate(-50%);
			margin-bottom: 20px;
		}
	}
	.advantages{
		.advantage-item{
			.box-image{
				height: 80px;
				width: 155px;
			}
			.caption{
				height: 48px;
				 p{
					font-size: 18px;
				}
			}	  
		}
	}
	.portfolio{
		.slick-slide {
			position: relative;
			margin: 0 5px;
			margin-top: 5px;
			width: 302px;
			height: 302px;
			.text-slide{
				position: absolute;
				top: 212px;
				left: 14px;
				width: 289px;
	  			height: 76px;
	  			padding-top: 15px;
				p{
					font-size: 18px;
					span{
						font-size: 16px;
					}
				}	
			}
			img{
				width: 292px;
				height: 292px;
				display: inline-block;
			}
		}
		.slick-list {
		    margin-left: -20px;
		    margin-right: -20px;
	  	}
		.slick-center{
			img{
				min-width: 312px;
				min-height: 312px;
				margin-left: -2px;
				margin-top: -15px;
			}
			.text-slide{
				opacity: 0;
			}
		}
	}
}
@media (max-width: 992px) and (min-width: 768px){
	.main{
		&-head{
			&-logo{
				h1{
					font-size: 3.3em;
				}			
				p{			
					font-size: 0.85em; 
				}
			}
			&-links{
				display:block;
				margin-top: 12px;
				a{
					font-size: 1.3em;
				}
			}
			&-call{
				button{
					margin-top: 13px;
					float: right;
				}
			}		
		}	
	}
	.about{
		overflow-x: hidden;
		img{
			margin-left: 50%;
			transform: translate(-50%);
			margin-bottom: 20px;
		}
		&-area{
			position: relative;
			right:5px;
	  		padding: 41px;
	  		margin-bottom: 20px;
	  		p{
				font-size: 16px;
				margin-bottom: 8px;
				text-align: center;
			}
			button{
				margin-top: 13px;
				margin-left: 50%;
				transform: translate(-50%);
			}	
		}
		&-area:after{
			display: none;
		}
	}
	.ourCompany{
		overflow-x: hidden;
		&-area{
			position: relative;
	  		padding: 41px;
	  		margin-bottom: 20px;
	  			.ident{
	  				display: flex;
	  				justify-content: center;
	  				margin-bottom: 2px;
	  				p{
						font-size: 16px;
						text-align: center;
					}
	  				span{
	  					margin-left: 8px;
			  			float: left;
				  		align-self: center;
			    		margin-right: 26px;
						font-size: 48px;
	  				}
	  			}
			}
		&-area:after{
		 	display: none;
		}
		img{
			margin-left: 50%;
			transform: translate(-50%);
			margin-bottom: 20px;
		}
	}
	.requirements{
		.requirement-item{
			width: 160px;
			.box-image{
				width: 160px;
			}
			.caption p{
				height: 100px;
				font-size: 16px;
			}	  
		}
		.next-img{
			display: none;
		}
	}
	.advantages{
		.advantage-item{
			.box-image{
				height: 80px;
				width: 155px;
			}
			.caption{
				height: 48px;
				 p{
					font-size: 18px;
				}
			}	  
		}
	}
	.portfolio{
		.slick-slide {
			position: relative;
			margin: 0 20px;
			margin-top: 20px;
			width: 352px;
			height: 352px;
			.text-slide{
				opacity: 0;
			}
			img{
				width: 322px;
				height: 322px;
				display: inline-block;
			}
		}
		.slick-list {
		    margin-left: -20px;
		    margin-right: -20px;
	  	}
		.slick-center{
			img{
				box-shadow: 0px 0px 4.5px 0.5px rgba(0, 0, 0, 0.2);
				min-width: 352px;
				min-height: 352px;
				margin-left: -14px;
				margin-top: -15px;
			}
			.text-slide{
				opacity: 0;
			}
		}
	}
}
@media (max-width: 768px)and(min-width: 576px){
	.main{
		text-align:center;
		&-head{
			&-logo{
				h1{
					font-size: 3em;
				}			
				p{			
					font-size: 0.78em; 
				}
			}
			&-links{
				margin-top: 12px;
				float: center;
				a{
					font-size: 1.2em;
				}
			}
			&-call{
				button{
					margin-top: 13px;
					width: 147px;
					float: left;
				}
			}		
		}	
	}
	.nav-head{
		.navig{
			display: flex;
			flex-direction: column;
			height: 70px;
			align-items: center;
			flex-wrap: wrap;
			align-content: space-around;
			}
		}
	.about{
		overflow-x: hidden;
		img{
			margin-left: 50%;
			transform: translate(-50%);
			margin-bottom: 20px;
		}
		&-area{
			position: relative;
			right:5px;
	  		padding: 41px;
	  		margin-bottom: 20px;
	  		p{
				font-size: 16px;
				margin-bottom: 8px;
				text-align: center;
			}
			button{
				margin-top: 13px;
				margin-left: 50%;
				transform: translate(-50%);
			}	
		}
		&-area:after{
			display: none;
		}
	}
	.ourCompany{
		overflow-x: hidden;
		&-area{
			position: relative;
	  		padding: 41px;
	  		margin-bottom: 20px;
	  			.ident{
	  				display: flex;
	  				justify-content: center;
	  				margin-bottom: 2px;
	  				p{
						font-size: 16px;
						text-align: center;
					}
	  				span{
	  					margin-left: 8px;
			  			float: left;
				  		align-self: center;
			    		margin-right: 26px;
						font-size: 48px;
	  				}
	  			}
			}
		&-area:after{
		 	display: none;
		}
		img{
			margin-left: 50%;
			transform: translate(-50%);
			margin-bottom: 20px;
		}
	}
	.advantages{
		-webkit-flex-direction: column;
		flex-direction: column;
		.advantage-item{
			.box-image{
				margin: 0 auto;
				height: 85px;
			}
			.caption{
				height: 48px;
			}	  
		}
	}
	.requirements{
		-webkit-flex-direction: column;
		flex-direction: column;
		.requirement-item{
			.box-image{
				margin: 0 auto;
				.circle-img{
					margin: 0 auto;
				}
			}
			.caption{
				margin-top: 20px;
				height: 100px;
			}	  
		}
		.next-img{
			display: none;
		}
	}
	.portfolio{
		.slick-slide {
			position: relative;
			margin: 0 20px;
			margin-top: 20px;
			margin-bottom: 10px;
			width: 352px;
			height: 352px;
			.text-slide{
				opacity: 0;
			}
			img{
				width: 322px;
				height: 322px;
				display: inline-block;
			}
		}
		.slick-list {
		    margin-left: -20px;
		    margin-right: -20px;
	  	}
		.slick-center{
			img{
				min-width: 352px;
				min-height: 352px;
				margin-left: -14px;
				margin-top: -15px;
			}
			.text-slide{
				opacity: 0;
			}
		}
	}
	footer{
		.footer-navig{
			    -webkit-column-count: 3;
			    -moz-column-count: 3;
			    column-count: 3;
		  		font-size: 18px;
				margin-bottom: 40px;
				text-align: center;
			}
			.footer-links{
				font-size: 1.2em;
				margin-top: -9px;
					.email{ text-align: right; margin-bottom: 3px;}
					.phone{ text-align: right;}
			}
			.call{
				float: left;
				width: 147px;
				margin-top: -10px;
			}
			.copyright{
				margin-top: 20px;
				text-align: center;
			}
		}
}
@media (max-width: 576px){
	.main{
		text-align:center;
		&-head{
			&-logo{
				h1{
					font-size: 3em;
				}			
				p{			
					font-size: 0.78em; 
				}
			}
			&-links{
				margin-top: 12px;
				a{
					font-size: 1.2em;
				}
			}
			&-call{
				button{
					margin-top: 13px;
					width: 147px;
					float: left;
				}
			}		
		}	
	}
	.nav-head{
		.navig{
			display: flex;
			flex-direction: column;
			height: 70px;
			align-items: center;
			flex-wrap: wrap;
			align-content: space-around;
		}
	}
	.about{
		overflow-x: hidden;
		img{
			margin-left: 50%;
			transform: translate(-50%);
			margin-bottom: 20px;
		}
		&-area{
			position: relative;
			right:5px;
	  		padding: 41px;
	  		margin-bottom: 20px;
	  		p{
				font-size: 16px;
				margin-bottom: 8px;
				text-align: center;
			}
			button{
				margin-top: 13px;
				margin-left: 50%;
				transform: translate(-50%);
			}	
		}
		&-area:after{
			display: none;
		}
	}
	.ourCompany{
		overflow-x: hidden;
		&-area{
			position: relative;
	  			.ident{
	  				display: flex;
	  				justify-content: center;
	  				margin-bottom: 2px;
	  				p{
						font-size: 16px;
						text-align: center;
					}
	  			}
			}
		&-area:after{
		 	display: none;
		}
		img{
			margin-left: 50%;
			transform: translate(-50%);
			margin-top: 20px;
		}
	}
	.advantages{
		-webkit-flex-direction: column;
		flex-direction: column;
		.advantage-item{
			.box-image{
				margin: 0 auto;
				height: 85px;
			}
			.caption{
				height: 48px;
			}	  
		}
	}
	.requirements{
		-webkit-flex-direction: column;
		flex-direction: column;
		.requirement-item{
			.box-image{
				margin: 0 auto;
				.circle-img{
					margin: 0 auto;
				}
			}
			.caption{
				margin-top: 20px;
				height: 100px;
			}	  
		}
		.next-img{
			display: none;
		}
	}
	.portfolio{
		.slick-slide {
			position: relative;
			margin: 0 20px;
			margin-top: 20px;
			width: 352px;
			height: 352px;
			.text-slide{
				position: absolute;
				top: 243px;
				left: 4px;
				width: 314px;
	  			height: 76px;
	  			padding-top: 15px;
				p{
					font-size: 18px;
					span{
						font-size: 16px;
					}
				}	
			}
			img{
				width: 322px;
				height: 322px;
				display: inline-block;
			}
		}
		.slick-list {
		    margin-left: -20px;
		    margin-right: -20px;
	  	}
		.slick-center{
			img{
				min-width: 352px;
				min-height: 352px;
				margin-left: -14px;
				margin-top: -15px;
			}
			.text-slide{
				opacity: 0;
			}
		}
	}	
	.econom{
		&-img{
			background: none;
			&-text-area{ 
				position: relative;
	  			padding: 40px 30px;
	  			margin-right: auto;
	  			margin-top: 300px;
	  			margin-bottom: -320px;
		  		}
	  			.catalog{
					margin-top: 13px;
					margin-left: 50%;
					transform: translate(-50%);
	  			}
			}
		}
		img{
			display: none;
		}
		footer{
			.footer-navig{
			    -webkit-column-count: 3;
			    -moz-column-count: 3;
			    column-count: 3;
		  		font-size: 18px;
				margin-bottom: 40px;
				text-align: center;
			}
			.footer-links{
				font-size: 1.2em;
				margin-top: -9px;
					.email{ text-align: right; margin-bottom: 3px;}
					.phone{ text-align: right;}
			}
			.call{
				float: left;
				width: 147px;
				margin-top: -10px;
			}
			.copyright{
				margin-top: 20px;
				text-align: center;
			}
		}
	}

@supports (-webkit-appearance:none) and (font-variant-caps:normal) 
and (not (-ms-accelerator:true)) and 
(not (overflow:-webkit-marquee)) and (not (-moz-appearance:none)) { 
 	.about{
		&-area{
	  		padding-bottom: 49px;
		}
	}
	.ourCompany{
		&-area{
			padding-bottom: 26px;
		}
	}
}

